<body>
    <form action="">

        <h2 class="titulo">AGREGAR</h2>

        <div class="info">
            <div class="etiquetas"> 
                <p>ID</p>
                <p>NOMBRE </p>
                <p>CAPACIDAD</p>
                <p>ESTATUS </p>

            </div>
    
<!--    
            <div class="cajas" *ngFor="let laboratorio of laboratorioDatos, let i = index">
                <input type="text"   name="matriculalaboratorio"   [(ngModel)]="laboratorioSchema.matriculalaboratorio">
                <input type="text"   name="nombrelaboratorio"   [(ngModel)]="laboratorioSchema.nombrelaboratorio">
                <input type="text"   name="nocompulaboratorio"   [(ngModel)]="laboratorioSchema.nocompulaboratorio">
                <input type="text"   name="especialidadlaboratorio"   [(ngModel)]="laboratorioSchema.especialidadlaboratorio">
                <input type="number" name="semestrelaboratorio" [(ngModel)]="laboratorioSchema.semestrelaboratorio">
                <input type="text"   name="laboratoriolaboratorio"   [(ngModel)]="laboratorioSchema.laboratoriolaboratorio">
                <input type="number" name="estatuslaboratorio" [(ngModel)]="laboratorioSchema.estatuslaboratorio">
                <input type="text"   name="imagenlaboratorio"   [(ngModel)]="laboratorioSchema.imagenlaboratorio">
            </div> -->
        </div>

        <button (click)="addLaboratorio()">ACEPTAR</button>

    </form>
</body>
