<body>

    <div class="formulario">
      <p class="titulo">LABORATORIO</p>
        <table>
          <thead>
            <th>ID_LABORATORIO</th>
            <th>NOMBRE</th>
            <th>CAPACIDAD</th>
            <th>ESTATUS</th>
            <th>ELIMINAR/EDITAR</th>
          </thead>
       
          <tbody>
            <tr *ngFor="let laboratorio of datos; let i = index">
              <td class="bleft"> <img src={{laboratorio.imagenlaboratorio}} alt="" srcset=""> </td>
              <td class="center">{{laboratorio.idlaboratorio}}</td>
              <td class="center">{{laboratorio.nombrelaboratorio}}</td>
              <td class="center">{{laboratorio.capacidadlaboratorio}}</td>
              <td class="center">{{laboratorio.estatuslaboratorio}}</td>
              <td class="center"> 
                <!-- <img src="../../../assets/bote-de-basura.png" alt="" srcset="" class="icono" (click)="borrarProducto(Producto._id)">  -->
                <!-- <img src="../../../assets/editar.png" alt="" srcset="" class="icono" (click)="guardarId(Producto._id)" routerLink="/Editar/Producto/">  -->
              </td>
            </tr> 
          </tbody>
        </table>
    </div>


    <div class="agregar">
      <button class="btn-agregar" routerLink="/Inicio/AgregarLaboratorio"> AGREGAR</button>
  </div>

  </body>