<p>editar-laboratorio works!</p>

<body>
    <form action="">

        <h2 class="titulo">EDITAR</h2>

        <div class="info">
            <div class="etiquetas">
                <p>ID</p>
                <p>NOMBRE </p>
                <p>CAPACIDAD </p>
                <p>ESTATUS </p> 
            </div>

            <!-- <div class="cajas" *ngFor="let laboratorio of laboratorioDatos, let i = index">
                <input type="text"   name="matriculalaboratorio"   [(ngModel)]="laboratorioSchema.idlaboratorio">
                <input type="text"   name="nombrelaboratorio"   [(ngModel)]="laboratorioSchema.nombrelaboratorio">
                <input type="text"   name="nocompulaboratorio"   [(ngModel)]="laboratorioSchema.capacidadlaboratorio">
                <input type="number" name="estatuslaboratorio" [(ngModel)]="laboratorioSchema.estatuslaboratorio">
            </div> -->
        </div> 

        <button (click)="updateLaboratorio()">ACEPTAR </button>

    </form>
</body>
