<body>

    <div class="formulario">
      <p class="titulo">ALUMNO</p>
        <table>
          <thead>
            
            <th>MATRICULA</th>
            <th>NOMBRE</th>
            <th>NO COMPUTADORA</th>
            <th>ESPECIALIDAD</th>
            <th>SEMESTRE</th>
            <th>LABORATORIO</th>
            <th>ELIMINAR/EDITAR</th>
          </thead>
      
          <tbody>
            <tr *ngFor="let alumno of datos; let i = index">
              <td class="center">{{alumno.matriculaAlumno}}</td>
              <td class="center">{{alumno.nombreAlumno}}</td>
              <td class="center">{{alumno.computadoraAlumno}}</td>
              <td class="center">{{alumno.especialidadAlumno}}</td>
              <td class="center">{{alumno.semestreAlumno}}</td>
              <td class="center">{{alumno.laboratorioAlumno}}</td>
              <td class="center"> 
                <!-- <img src="../../../assets/bote-de-basura.png" alt="" srcset="" class="icono" (click)="borrarProducto(Producto._id)">  -->
                <!-- <img src="../../../assets/editar.png" alt="" srcset="" class="icono" (click)="guardarId(Producto._id)" routerLink="/Editar/Producto/">  -->
              </td>
            </tr> 
          </tbody>
        </table>
    </div>


    <div class="agregar">
      <button class="btn-agregar" routerLink="/Inicio/AgregarAlumno"> AGREGAR</button>
  </div>

  </body>