
<body>
    <form action="">

        <h2 class="titulo">EDITAR</h2>

        <div class="info">
            <div class="etiquetas">
                <p>NOMBRE </p>
                <p>HORARIO </p>
                <p>NO ALUMNO </p>
                <p>ESPECIALIDAD </p>
                <p>SEMESTRE</p>
                <p>MATERIA </p>
                <p>LABORATORIO </p>
                <p>ESTATUS </p> 
                <p>IMAGEN </p> 
            </div>
<!-- 
            <div class="cajas" *ngFor="let docente of docenteDatos, let i = index">
                <input type="text"   name="matriculadocente"   [(ngModel)]="docenteSchema.nombredocente">
                <input type="text"   name="nombredocente"   [(ngModel)]="docenteSchema.horariodocente">
                <input type="text"   name="nocompudocente"   [(ngModel)]="docenteSchema.noalumnocente">
                <input type="text"   name="especialidaddocente"   [(ngModel)]="docenteSchema.especialidaddocente">
                <input type="number" name="semestredocente" [(ngModel)]="docenteSchema.semestredocente">
                <input type="text"   name="laboratoriodocente"   [(ngModel)]="docenteSchema.materiadocente">
                <input type="number" name="estatusdocente" [(ngModel)]="docenteSchema.laboratoriodocente">
                <input type="number" name="estatusdocente" [(ngModel)]="docenteSchema.estatusdocente">
                <input type="text"   name="imagendocente"   [(ngModel)]="docenteSchema.imagendocente">
            </div> -->
        </div>

        <button (click)="updateDocente()">ACEPTAR </button>

    </form>
</body>
