<header>
    <!-----------BANNER-------------------->
    <div class="banner">
        <h1 class="bienvenida">CONTROLLO DI ACCESSO</h1>
    </div>
    <nav>
        <p routerLink="/Inicio/Alumno" routerLinkActive="active-btn">Alumno</p>
        <p routerLink="/Inicio/Docente" routerLinkActive="active-btn">Docente</p>
        <p routerLink="/Inicio/Laboratorio" routerLinkActive="active-btn">Laboratorio</p>
    </nav>
</header>