
<body>
    <form action="">

        <h2 class="titulo">EDITAR</h2>

        <div class="info">
            <div class="etiquetas">
                <p>MATRICULA</p>
                <p>NOMBRE </p>
                <p>NO COMPUTADORA </p>
                <p>ESPECIALIDAD </p>
                <p>SEMESTRE </p>
                <p>LABORATORIO </p>
                <p>ESTATUS </p> 
                <p>IMAGEN </p> 
            </div>
<!--     
            <div class="cajas" *ngFor="let Alumno of alumnoDatos, let i = index">
                <input type="text"   name="matriculaAlumno"   [(ngModel)]="alumnoSchema.matriculaAlumno">
                <input type="text"   name="nombreAlumno"   [(ngModel)]="alumnoSchema.nombreAlumno">
                <input type="text"   name="nocompuAlumno"   [(ngModel)]="alumnoSchema.nocompuAlumno">
                <input type="text"   name="especialidadAlumno"   [(ngModel)]="alumnoSchema.especialidadAlumno">
                <input type="number" name="semestreAlumno" [(ngModel)]="alumnoSchema.semestreAlumno">
                <input type="text"   name="laboratorioAlumno"   [(ngModel)]="alumnoSchema.laboratorioAlumno">
                <input type="number" name="estatusAlumno" [(ngModel)]="alumnoSchema.estatusAlumno">
                <input type="text"   name="imagenAlumno"   [(ngModel)]="alumnoSchema.imagenAlumno">
            </div>-->
        </div> 

        <button (click)="updateAlumno()">ACEPTAR </button>

    </form>
</body>
