<body>

    <div class="formulario">
      <p class="titulo">DOCENTE</p>
        <table>
          <thead>
            
            <th>NOMBRE</th>
            <th>HORARIO</th>
            <th>NO ALUMNO</th>
            <th>ESPECIALIDAD</th>
            <th>SEMESTRE</th>
            <th>MATERIA</th>
            <th>LABORATORIO</th>
            <th>ELIMINAR/EDITAR</th>
          </thead>
      
          <tbody>
            <tr *ngFor="let docente of datos; let i = index">
              <td class="center">{{docente.nombreDocente}}</td>
              <td class="center">{{docente.HorarioDocente}}</td>
              <td class="center">{{docente.alumnosDocente}}</td>
              <td class="center">{{docente.especialidadDocente}}</td>
              <td class="center">{{docente.semestreDocente}}</td>
              <td class="center">{{docente.materiasDocente}}</td>
              <td class="center">{{docente.laboratorioDocente}}</td>
              <td class="center"> 
                <!-- <img src="../../../assets/bote-de-basura.png" alt="" srcset="" class="icono" (click)="borrarProducto(Producto._id)">  -->
                <!-- <img src="../../../assets/editar.png" alt="" srcset="" class="icono" (click)="guardarId(Producto._id)" routerLink="/Editar/Producto/">  -->
              </td>
            </tr> 
          </tbody>
        </table>
    </div>


    <div class="agregar">
      <button class="btn-agregar" routerLink="/Inicio/AgregarDocente"> AGREGAR</button>
  </div>

  </body>